<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>{{title}}</title>
    {% else %}
        <title>MySchool</title>
    {% endif %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4 navbar" href="/">MySchool</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar Toggle" aria-controls="navbar Toggle">
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        {% if current_user.is_authenticated %}
                            <a class="nav-item nav-link" href="{{url_for('account')}}">My Account</a>
                        {% else %}
                            <a class="nav-item nav-link" href="{{url_for('register')}}">Register</a>
                        {% endif %}
                    </div>
                    <div class="navbar nav">
                        {% if current_user.is_authenticated %}
                            <a style="color: aqua;" href="{{url_for('take_exams')}}">TakeExams</a>
                        {% endif %}
                    </div>
                    <div class="navbar nav">
                        {% if current_user.is_authenticated %}
                            <a style="color: aqua;" href="{{url_for('check_results')}}">CheckResults</a>
                        {% endif %}
                    </div>
                    <div class="navbar nav">
                        {% if current_user.is_authenticated %}
                            <a style="color: aqua;" href="{{url_for('pay_fees')}}">Pay Fees</a>
                        {% endif %}
                    </div>
                    <div class="navbar nav">
                        {% if current_user.is_authenticated %}
                            <a style="color: aqua;" id="logout" href="{{url_for('logout')}}">Logout</a>
                        {% else %}
                            <a style="color: aqua;" href="{{url_for('login')}}">Login</a>
                        {% endif %}
                    </div>
        
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                {% with messages = get_flashed_messages(with_categories = true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                                {% if 'password' and 'Not' in message %}
                                    <div class="flash-failure">{{message|title}}</div>
                                {% elif 'You' in message %}
                                    <div class="flash-success">
                                        <div class="text-success">{{message}}</div>
                                    </div>
                                {% elif 'log' in message %}
                                    <div class="login-first">{{message}}</div>
                                {% elif 'Submitted' in message %}
                                    <div class="flash-success">{{message}}</div>
                                {% else %}
                                    <div class="flash-success">{{message}}</div>
                                {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% block content %} {% endblock %}
            </div>
        </div>
    </main>

    <footer role="footer" class="container" style="margin-top: 20%;">
        <div class="text-center">
            <p><a href="#">Contact Us</a></p>
            <p><a href="#">Terms And Conditions</a></p>
            <p><a href="#">Privacy Policy</a></p>
        </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='app.js')}}"></script>
</body>
</html>